$primary: #8bc271;
$secondary: #424242;
$accent: #ffa433;
$error: #fe4343;
$info: #2196f3;
$success: #4caf50;
$warning: #ffc107;

$border-color: #e6e6e6;
$border-radius: 4px;
$bottom-nav-height: 50px;

$divider-height: 10px;

$size1 : 12px;
