.avatar {
  max-width: 100%;
  width: 50px;
  border-radius: 50%;
}

.border-top {
  border-top: 1px solid $border-color !important;
}
.border-bottom {
  border-bottom: 1px solid $border-color !important;
}

.bg-img {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.rounded {
  border-radius: $border-radius;
}
.simple-svg-wrapper {
  width: 1.5rem;
  height: 1.5rem;
  .simple-svg {
    width: inherit;
    height: inherit;
  }
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-muted {
  color: rgba(0,0,0,.7)
}
.icon--text {
  font-size: 1.25em;
  margin-right: .5em;
}
